package html

import (
	"strings"
	"fmt"
  	"time"
	"math"

	"github.com/adriein/tibia-char/pkg/enums"
	"github.com/adriein/tibia-char/pkg/helper/str"
	"github.com/adriein/tibia-char/pkg/middleware"
	"github.com/adriein/tibia-char/internal/auction"
)

func formatTimeAgo(duration time.Duration) string {
	if duration < time.Minute {
		return "just now"
	}

	minutes := int(duration.Minutes())
	if minutes < 60 {
		return fmt.Sprintf("%dm ago", minutes)
	}

	hours := int(duration.Hours())
	if hours < 24 {
		return fmt.Sprintf("%dh ago", hours)
	}

	days := hours / 24
	if days < 30 {
		return fmt.Sprintf("%dd ago", days)
	}

	months := days / 30
	if months < 12 {
		return fmt.Sprintf("%dmo ago", months)
	}

	years := months / 12
	return fmt.Sprintf("%dy ago", years)
}

script initTimezone() {
    if (!document.cookie.includes("User_Tz=")) {
        const tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
        document.cookie = "User_Tz=" + tz + ";path=/;max-age=31536000;SameSite=Lax";
        window.location.reload();
    }
}

templ AuctionsView(page *auction.PaginatedAuctions) {
  <html>
		<head>
			@initTimezone()

			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

			<title>Tibia Char</title>

			<link rel="icon" type="image/x-icon" href="/ui/static/images/golden_helmet.ico">
			<link rel="stylesheet" href="/ui/static/css/main.css">
		</head>
		<body>
			<main>
				@Filters()
				<section class="main-content">
					@Auctions(page)
				</section>
			</main>
		</body>
	</html>
}

templ Filters() {
	<aside class="sidebar">
		<form method="GET" action="/index">
			<input type="hidden" name="filter[page]" value="1">
			<input type="hidden" name="filter[qty]" value="20">
			<div class="sidebar__content">
				<div class="sidebar__title">
					<h3 class="sidebar__title-text">Filters</h3>
				</div>
				<div class="sidebar__filters-container">
					<div class="sidebar__filter-section">
						<span class="sidebar__filter-section-title">Flags</span>
						@Filter("Best deals", "flags")
						@Filter("Rare outfits", "flags")
						@Filter("Rare mounts", "flags")
					</div>
					<div class="sidebar__filter-section">
						<span class="sidebar__filter-section-title">Auction status</span>
						@Filter("Bidded", "status")
						@Filter("Initial", "status")
						@Filter("Hot", "status")
					</div>
					<div class="sidebar__filter-section">
						<span class="sidebar__filter-section-title">Vocations</span>
						@Filter("Knight", "vocation")
						@Filter("Paladin", "vocation")
						@Filter("Monk", "vocation")
						@Filter("Druid", "vocation")
						@Filter("Sorcerer", "vocation")
					</div>
				</div>
				<button type="submit" class="btn btn--primary sidebar__submit">Apply Filters</button>
			</div>
		</form>
	</aside>
}

templ Filter(name string, category string) {
	<label class="sidebar__filter">
		<input class="input" type="checkbox" name={fmt.Sprintf("filter[%s]", category)} value={name}>
		{name}
	</label>
}

/**
+-------------+-----------------------------------+---------------------------------------------------------+
| SECTION     | CONTENT                           | INSIGHT / WHY?                                          |
+-------------+-----------------------------------+---------------------------------------------------------+
| Header      | Level, Vocation, Name             | Immediate identity recognition. The "hook" for the user.|
+-------------+-----------------------------------+---------------------------------------------------------+
| Main Body   | Base Skill + Charm Points         | Displays the two biggest value drivers that cannot be   |
|             |                                   | easily rushed or bought cheaply.                        |
+-------------+-----------------------------------+---------------------------------------------------------+
| Icons Row   | T3 Imbuements, Soul War, Quests   | The "Gatekeepers." Reduces friction by showing which    |
|             |                                   | boring "chore quests" are already finished.             |
+-------------+-----------------------------------+---------------------------------------------------------+
| Footer      | Price, Time Left, Transfer Status | Actionable data. Provides the urgency and logistical    |
|             |                                   | feasibility needed to decide on a bid.                  |
+-------------+-----------------------------------+---------------------------------------------------------+
*/

templ SkillItem(name string, value int, imgSrc string, imgAlt string, threshold int) {
	<div class={"skill-item", templ.KV("skill-item--high", value >= threshold)}>
		<div>
			<img alt={imgAlt} src={imgSrc}/>
			<p>{name}</p>
		</div>
		<span>{fmt.Sprintf("%d", value)}</span>
	</div>
}

templ AuctionCard(viewModel *auction.AuctionViewModel) {
	{{
		auction := viewModel.Auction

		const (
			MaxImbuements = 24
			MaxQuests = 42
		)

		loc, ok := ctx.Value(middleware.TimezoneKey).(*time.Location)

		if !ok {
			loc = time.UTC
		}

		formattedAuctionEnd := auction.AuctionEnd.In(loc).Format("Jan 02 at 15:04")

		abbr, _ := auction.AuctionEnd.In(loc).Zone()

		auctionEnd := fmt.Sprintf("%s %s", formattedAuctionEnd, abbr)

		var timeLeft string

		duration := time.Until(auction.AuctionEnd)

		if duration <= 0 {
			timeLeft = "Finished"
		} else {
			days := int(duration.Hours() / 24)
			hours := int(math.Mod(duration.Hours(), 24))
			minutes := int(math.Mod(duration.Minutes(), 60))

			if days > 0 {
				timeLeft = fmt.Sprintf("%dd %dh", days, hours)
			}

			if days <= 0 && hours > 0 {
				timeLeft =  fmt.Sprintf("%dh %dm", hours, minutes)
			} else {
				timeLeft = fmt.Sprintf("%dm", minutes)
			}
		}

		var auctionStage string
		var stageBadgeClass string

		switch auction.Stage {
		case enums.StageInitial:
			auctionStage = "Initial"
			stageBadgeClass = "card__bid-badge card__bid-badge--initial"
		case enums.StageCurrent:
			auctionStage = "Current"
			stageBadgeClass = "card__bid-badge badge--primary"
		case enums.StageWinning:
			auctionStage = "Winning"
			stageBadgeClass = "card__bid-badge card__bid-badge--winning"
		}

		lastUpdated := formatTimeAgo(time.Since(auction.DateUpd))
	}}
	<div class="card card--auction">
		<div class="card__header">
			<div class="card__header-avatar">
				<img alt="Auction icon" src={auction.Img}/>
			</div>
			<div>
				<h1 class="card__title truncate">{auction.CharName}</h1>
				<h2 class="card__subtitle">{auction.CharLevel} {auction.CharVocation.Name}</h2>
				<span class="card__updated">{lastUpdated}</span>
			</div>
			<div class="card__header-flags">
				if auction.IsTrending() {
				<div class="card__header-flag--trending">
					<img class="card__header-flag-icon--trending" alt="hot fire elemental icon" src="/ui/static/images/fire_elemental_trending_icon.png"/>
					<span class="card__header-flag-text--trending">Hot</span>
				</div>
				}
				if viewModel.IsGoodDeal() {
					<div class="card__header-flag-zscore flag-zscore--good">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trending-up"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 17l6 -6l4 4l8 -8" /><path d="M14 7l7 0l0 7" /></svg>
						<span>Good Deal</span>
					</div>
				}
				if viewModel.IsBadDeal() {
					<div class="card__header-flag-zscore flag-zscore--bad">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trending-down"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 7l6 6l4 -4l8 8" /><path d="M21 10l0 7l-7 0" /></svg>
						<span>Bad Deal</span>
					</div>
				}
			</div>
		</div>
		<div class="card__bid">
			<div class="card__bid-section">
				<div class="card__bid-amount">
					<img src="https://static.tibia.com/images/charactertrade/objects/37317.gif"/>
					<span>{auction.Bid} TC</span>
					<span class={"badge", stageBadgeClass}>{auctionStage}</span>
				</div>
				<div class="card__bid-time">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-clock"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" /><path d="M12 7v5l3 3" /></svg>
					<span>{auctionEnd}</span>
				</div>
				<div class="car__bid-world">
					<img
						class="card__bid-country-flag"
						alt="Country flag"
						src={fmt.Sprintf("/ui/static/images/%s.png", str.CamelToSnake(strings.ReplaceAll(auction.CharWorld.Location, " ", "")))}
					/>
					<p>{auction.CharWorld.Name}</p>
					if auction.WorldTransfer {
						<svg class="card__bid-transfer--allowed" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-world-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20.946 12.99a9 9 0 1 0 -9.46 7.995" /><path d="M3.6 9h16.8" /><path d="M3.6 15h13.9" /><path d="M11.5 3a17 17 0 0 0 0 18" /><path d="M12.5 3a16.997 16.997 0 0 1 2.311 12.001" /><path d="M15 19l2 2l4 -4" /></svg>
					} else {
						<svg class="card__bid-transfer--forbidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-world-cancel"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M21 12a9 9 0 1 0 -8.985 9" /><path d="M3.6 9h16.8" /><path d="M3.6 15h9.9" /><path d="M11.5 3a17 17 0 0 0 0 18" /><path d="M12.5 3a16.991 16.991 0 0 1 2.53 10.275" /><path d="M19 19m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M17 21l4 -4" /></svg>
					}
				</div>
			</div>
			<div class="card__bid-section">
				<div class="card__bid-amount card__bid-amount-fiat">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-pig-money"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 11v.01" /><path d="M5.173 8.378a3 3 0 1 1 4.656 -1.377" /><path d="M16 4v3.803a6.019 6.019 0 0 1 2.658 3.197h1.341a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-1.342c-.336 .95 -.907 1.8 -1.658 2.473v2.027a1.5 1.5 0 0 1 -3 0v-.583a6.04 6.04 0 0 1 -1 .083h-4a6.04 6.04 0 0 1 -1 -.083v.583a1.5 1.5 0 0 1 -3 0v-2l0 -.027a6 6 0 0 1 4 -10.473h2.5l4.5 -3" /></svg>
					<span>{fmt.Sprintf("%d %s", auction.BidFiat, auction.BidCurrency)}</span>
				</div>
				<div class="card__bid-time">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-hourglass-high"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6.5 7h11" /><path d="M6 20v-2a6 6 0 1 1 12 0v2a1 1 0 0 1 -1 1h-10a1 1 0 0 1 -1 -1" /><path d="M6 4v2a6 6 0 1 0 12 0v-2a1 1 0 0 0 -1 -1h-10a1 1 0 0 0 -1 1" /></svg>
					<span>{timeLeft}</span>
				</div>
				<div class="car__bid-world">
					if auction.CharWorld.BattleEye == enums.BattleEyeGreen {
						<img alt="Green battle eye" src="https://static.tibia.com/images/global/content/icon_battleyeinitial.gif"/>
					} else {
						<img alt="Yellow battle eye" src="https://static.tibia.com/images/global/content/icon_battleye.gif"/>
					}
					<p>{strings.ReplaceAll(auction.CharWorld.Pvp, "Pvp", "")}</p>
				</div>
			</div>
		</div>
		{{
		const HighSkillThreshold = 110
	}}
	<div class="card__body">
		<div class="card__body-skills-container">
			@SkillItem("Axe", auction.Skills.Axe, "/ui/static/images/stonecutter_axe.png", "axe fighting", HighSkillThreshold)
			@SkillItem("Club", auction.Skills.Club, "/ui/static/images/thunder_hammer.png", "club fighting", HighSkillThreshold)
			@SkillItem("Distance", auction.Skills.Distance, "/ui/static/images/soulbleeder.png", "distance fighting", HighSkillThreshold)
			@SkillItem("Fishing", auction.Skills.Fishing, "/ui/static/images/fishing_rod.png", "fishing", HighSkillThreshold)
			@SkillItem("Fist", auction.Skills.Fist, "/ui/static/images/grand_sanguine_claws.png", "fist fighting", HighSkillThreshold)
			@SkillItem("Magic Level", auction.Skills.MagicLevel, "/ui/static/images/spell_book.png", "magic level", HighSkillThreshold)
			@SkillItem("Shielding", auction.Skills.Shielding, "/ui/static/images/demon_shield.png", "shielding", HighSkillThreshold)
			@SkillItem("Sword", auction.Skills.Sword, "/ui/static/images/magic_sword.png", "sword fighting", HighSkillThreshold)
		</div>
	</div>
		<div class="card__featured-items">
			for i := range 4 {
				if i+1 > len(auction.FeaturedItems) {
					<div class="featured-item">
						<img
							alt="empty slot"
							class="featured-item-img--empty"
							src="https://static.tibia.com/images/charactertrade/objects/2865.gif"
						/>
					</div>
				} else {
					<div class="featured-item">
						<img
							alt={auction.FeaturedItems[i].ItemID}
							class="featured-item-img"
							src={fmt.Sprintf("https://static.tibia.com/images/charactertrade/objects/%d.gif", auction.FeaturedItems[i].ItemID)}
						/>
					</div>
				}
			}
		</div>
		<div class="card__info">
			<div class="card__info-item">
				<img alt="Charm point icon" src="https://static.tibia.com/images//charactertrade/charms/icon-charmpoints.png"/>
				<span>Charm Points:</span>
				<span>{auction.CharmPoints}</span>
			</div>
			<div class="card__info-item">
				<img alt="Imbuement icon" src="/ui/static/images/imbuement_icon.png"/>
				<span>Imbuements:</span>
				<span>{fmt.Sprintf("%d/%d", len(auction.Imbuements), MaxImbuements)}</span>
			</div>
			<div class="card__info-item">
				<img alt="Bosstiary icon" src="/ui/static/images/bosstiary_icon.png"/>
				<span>Boss points:</span>
				<span>{auction.BossPoints}</span>
			</div>
			<div class="card__info-item">
				<img alt="Quest log icon" src="/ui/static/images/quest_log_icon.png"/>
				<span>Quests:</span>
				<span>{fmt.Sprintf("%d/%d", len(auction.Quests), MaxQuests)}</span>
			</div>
		</div>
		<div class="card__footer">
			<a
				target="_blank"
				href={fmt.Sprintf("https://www.tibia.com/charactertrade/?subtopic=currentcharactertrades&page=details&auctionid=%d", auction.AuctionID)}
			>
				<button class="btn btn--primary">View on Tibia.com</button>
			</a>
		</div>
	</div>
}

templ Auctions(page *auction.PaginatedAuctions) {
	<div class="pagination pagination--auctions">
		<span>Auctions {page.TotalCount}</span>
		<div class="pagination__ctrl-container">
			<a href={fmt.Sprintf("/index?filter[page]=%d&filter[qty]=%d", page.Page-1, page.PageSize)} class={"pagination__ctrl", templ.KV("pagination__ctrl--disabled", page.Page <= 1)}>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>
			</a>
			<span>{page.Page} / {page.TotalPages}</span>
			<a href={fmt.Sprintf("/index?filter[page]=%d&filter[qty]=%d", page.Page+1, page.PageSize)} class={"pagination__ctrl", templ.KV("pagination__ctrl--disabled", page.Page >= page.TotalPages)}>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
			</a>
		</div>
		<span>{page.PageSize} / page</span>
	</div>
	<div class="grid-auction-cards">
		for _, auction := range page.ViewModels {
			@AuctionCard(auction)
		}
	</div>
}