DATABASE_USER=distribution_placeholder
DATABASE_NAME=distribution_placeholder
DATABASE_PASSWORD=distribution_placeholder

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/test?sslmode=disable"
POSTHOG_SDK_API_KEY="posthogapikey"

SERVER_PORT=distribution_placeholder
ENV=dev

# Intented only for the migration binary (makefile is using the .env)
MIGRATE_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/test?sslmode=disable"