package view

import "github.com/adriein/tibia-char/internal/auction/model"
import "github.com/adriein/tibia-char/pkg/enums"

/**
+-------------+-----------------------------------+---------------------------------------------------------+
| SECTION     | CONTENT                           | INSIGHT / WHY?                                          |
+-------------+-----------------------------------+---------------------------------------------------------+
| Header      | Level, Vocation, Name             | Immediate identity recognition. The "hook" for the user.|
+-------------+-----------------------------------+---------------------------------------------------------+
| Main Body   | Base Skill + Charm Points         | Displays the two biggest value drivers that cannot be   |
|             |                                   | easily rushed or bought cheaply.                        |
+-------------+-----------------------------------+---------------------------------------------------------+
| Icons Row   | T3 Imbuements, Soul War, Quests   | The "Gatekeepers." Reduces friction by showing which    |
|             |                                   | boring "chore quests" are already finished.             |
+-------------+-----------------------------------+---------------------------------------------------------+
| Footer      | Price, Time Left, Transfer Status | Actionable data. Provides the urgency and logistical    |
|             |                                   | feasibility needed to decide on a bid.                  |
+-------------+-----------------------------------+---------------------------------------------------------+
*/

templ AuctionCard(auction *model.Auction) {
	<div class="card card--auction">
		<div class="card__header">
			<div class="card__header-avatar">
				<img alt="Auction icon" src={auction.Img}/>
			</div>
			<div>
				<div class="card__header-title">
					<h1>{auction.CharName}</h1>
				</div>
				<div class="card__header-subtitle">
					<h2>{auction.CharLevel} {auction.CharVocation.Name}</h2>
				</div>
			</div>
		</div>
		<div class="card__subheader">
			<div class="card__subheader-world-detail">
				if auction.CharWorld.BattleEye == enums.BattleEyeGreen {
					<img alt="Green battle eye" src="https://static.tibia.com/images/global/content/icon_battleyeinitial.gif"/>
				} else {
					<img alt="Yellow battle eye" src="https://static.tibia.com/images/global/content/icon_battleye.gif"/>
				}
				<p>{auction.CharWorld.Name} (EU)</p>
			</div>
			<div class="card__subheader-world-detail">


				if auction.WorldTransfer.Name == enums.WorldTransferImmediately {
					<svg class="card__subheader-transfer--allowed" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-world-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20.946 12.99a9 9 0 1 0 -9.46 7.995" /><path d="M3.6 9h16.8" /><path d="M3.6 15h13.9" /><path d="M11.5 3a17 17 0 0 0 0 18" /><path d="M12.5 3a16.997 16.997 0 0 1 2.311 12.001" /><path d="M15 19l2 2l4 -4" /></svg>
				} else {
					<svg class="card__subheader-transfer--forbidden" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-world-cancel"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M21 12a9 9 0 1 0 -8.985 9" /><path d="M3.6 9h16.8" /><path d="M3.6 15h9.9" /><path d="M11.5 3a17 17 0 0 0 0 18" /><path d="M12.5 3a16.991 16.991 0 0 1 2.53 10.275" /><path d="M19 19m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M17 21l4 -4" /></svg>
				}
			</div>
		</div>
		<div class="card__body">

		</div>
	</div>
}

templ Auctions(auctions []*model.Auction) {
	<div>
		for _, auction := range auctions {
    	@AuctionCard(auction)
  	}
	</div>
}