package view

import "github.com/adriein/tibia-char/internal/auction/model"

/**
+-------------+-----------------------------------+---------------------------------------------------------+
| SECTION     | CONTENT                           | INSIGHT / WHY?                                          |
+-------------+-----------------------------------+---------------------------------------------------------+
| Header      | Level, Vocation, Name             | Immediate identity recognition. The "hook" for the user.|
+-------------+-----------------------------------+---------------------------------------------------------+
| Main Body   | Base Skill + Charm Points         | Displays the two biggest value drivers that cannot be   |
|             |                                   | easily rushed or bought cheaply.                        |
+-------------+-----------------------------------+---------------------------------------------------------+
| Icons Row   | T3 Imbuements, Soul War, Quests   | The "Gatekeepers." Reduces friction by showing which    |
|             |                                   | boring "chore quests" are already finished.             |
+-------------+-----------------------------------+---------------------------------------------------------+
| Footer      | Price, Time Left, Transfer Status | Actionable data. Provides the urgency and logistical    |
|             |                                   | feasibility needed to decide on a bid.                  |
+-------------+-----------------------------------+---------------------------------------------------------+
*/

templ AuctionCard(auction *model.Auction) {
	<div class="card card--auction">
		<div class="card__header">
			<div class="card__header-avatar">
				<img src={auction.Img}/>
			</div>
			<div>
				<div class="card__header-title">
					<h1>{auction.CharName}</h1>
				</div>
				<div class="card__header-subtitle">
					<h2>{auction.CharLevel} {auction.CharVocation.Name}</h2>
				</div>
			</div>
		</div>
		<div class="card__subheader">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-world"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" /><path d="M3.6 9h16.8" /><path d="M3.6 15h16.8" /><path d="M11.5 3a17 17 0 0 0 0 18" /><path d="M12.5 3a17 17 0 0 1 0 18" /></svg>
				<p class="card__subheader_world">{auction.CharWorld.Name}</p>
				<span>Transfer status</span>
			</div>
		<div class="card__body">

		</div>
	</div>
}

templ Auctions(auctions []*model.Auction) {
	<div>
		for _, auction := range auctions {
    	@AuctionCard(auction)
  	}
	</div>
}