package view

import "github.com/adriein/tibia-char/internal/auction/model"

/**
+-------------+-----------------------------------+---------------------------------------------------------+
| SECTION     | CONTENT                           | INSIGHT / WHY?                                          |
+-------------+-----------------------------------+---------------------------------------------------------+
| Header      | Level, Vocation, Name             | Immediate identity recognition. The "hook" for the user.|
+-------------+-----------------------------------+---------------------------------------------------------+
| Main Body   | Base Skill + Charm Points         | Displays the two biggest value drivers that cannot be   |
|             |                                   | easily rushed or bought cheaply.                        |
+-------------+-----------------------------------+---------------------------------------------------------+
| Icons Row   | T3 Imbuements, Soul War, Quests   | The "Gatekeepers." Reduces friction by showing which    |
|             |                                   | boring "chore quests" are already finished.             |
+-------------+-----------------------------------+---------------------------------------------------------+
| Footer      | Price, Time Left, Transfer Status | Actionable data. Provides the urgency and logistical    |
|             |                                   | feasibility needed to decide on a bid.                  |
+-------------+-----------------------------------+---------------------------------------------------------+
*/

templ AuctionCard(auction *model.Auction) {
	<div class="card card--auction">
		<div class="card__header">
			<div class="card__header-avatar">
				<img src={auction.Img}/>
			</div>
			<div>
				<div class="card__header-title">
					<h1>{auction.CharName}</h1>
				</div>
				<div class="card__header-subtitle">
					<h2>{auction.CharLevel} {auction.CharVocation.Name}</h2>
				</div>
			</div>
		</div>
		<div class="card__body">
			<div>
				<span>{auction.CharWorld.Name}</span>
				<span>Transfer status</span>
			</div>
		</div>
	</div>
}

templ Auctions(auctions []*model.Auction) {
	<div>
		for _, auction := range auctions {
    	@AuctionCard(auction)
  	}
	</div>
}