package view

import "github.com/adriein/tibia-char/internal/auction/model"

script initTimezone() {
    if (!document.cookie.includes("User_Tz=")) {
        const tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
        document.cookie = "User_Tz=" + tz + ";path=/;max-age=31536000;SameSite=Lax";
        window.location.reload();
    }
}

templ Index(auctions []*model.Auction) {
  <html>
		<head>
			@initTimezone()

			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

			<title>Tibia Char</title>

			<link rel="icon" type="image/x-icon" href="/assets/images/golden_helmet.ico">
			<link rel="stylesheet" href="/assets/css/main.css">
		</head>
		<body>
			<section>
				@Auctions(auctions)
			</section>
		</body>
	</html>
}