@layer components {
  .btn {
    background-color: var(--btn-background, var(--color-canvas));
    color: var(--btn-color, var(--color-ink));
    border: var(--btn-border-size, 1px) solid var(--btn-border-color, var(--color-ink-light));
  }

  .btn--primary {
    --btn-background: var(--color-brand-main);
    --btn-color: var(--color-brand-ink);
  }
}