@layer components {
  .card {
    --card-header-space: 1ch;
    --card-header-padding-block: var(--block-space);
    --card-header-padding-inline: var(--inline-space-double);
    --card-subheader-space: 1ch;
    --card-body-padding-block: var(--block-space);
    --card-body-padding-inline: var(--block-space);

    background-color: var(--card-background, var(--color-surface));
    color: var(--card-color, var(--color-surface-ink));
    border: var(--card-border-size, 1px) solid var(--card-border-color, var(--color-border));
    border-radius: var(--card-border-radius, var(--radius-md));
    max-width: 400px;
  }

  .card__header {
    display: flex;
    background-color: var(--card-header-background, var(--color-surface));
    color: var(--card-header-color, var(--color-surface-ink));
    border-radius: inherit;
    padding: var(--card-header-padding-block) var(--card-header-padding-inline);
    gap: var(--card-header-space);
    align-items: center;

    .card__header-title {
      h1 {
        font-size: var(--text-medium);
      }
    }

    .card__header-subtitle {
      h2 {
        font-size: var(--text-small);
      }
    }
  }

  .card__subheader {
    border-top: 1px solid var(--card-body-border-color, var(--color-border));
    display: flex;
    align-items: center;
    gap: var(--card-subheader-space);
  }

  .card__body {
    border-top: 1px solid var(--card-body-border-color, var(--color-border));
  }

  .card--auction {
    .card__header-avatar {
      background-color: var(--color-brand-main);
      width: 56px;
      height: 56px;
      border-radius: var(--card-border-radius, var(--radius-md));

      img {
        width: 64px;
        height: 64px;
        transform: translate(-20%, -20%);
        object-fit: contain;
      }
    }

    .card__subheader {
      padding: var(--block-space-half) var(--inline-space-double);
      justify-content: space-between;
    }

    .card__subheader-world-detail {
      display: inherit;
      gap: var(--inline-space);
      font-size: var(--text-small);
      align-items: center;
    }

    .card__subheader-world-detail img {
      height: 18px; /* Closer to the original size to avoid blur */
      width: auto;
    }

    .card__subheader-world-detail svg {
      height: 18px; /* Match the image height */
      width: 18px;
      flex-shrink: 0;
    }

    .card__subheader-transfer--allowed {
      color: var(--color-success);
    }

    .card__subheader-transfer--forbidden {
      color: var(--color-error);
    }
  }
}