@layer components {
  .card {
    --card-padding-inline: var(--inline-space-double);
    --card-padding-block: var(--block-space);

    background-color: var(--card-bg, var(--color-surface));
    color: var(--card-text-ink, var(--color-surface-ink));
    border: var(--card-border-size, 1px) solid var(--card-border-color, var(--color-border));
    border-radius: var(--card-radius, var(--radius-md));
    max-width: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .card__header,
  .card__subheader,
  .card__body,
  .card__footer {
    padding: var(--card-padding-block) var(--card-padding-inline);
  }

  .card__header {
    display: flex;
    color: var(--card-header-text-ink, var(--color-surface-ink));
    gap: var(--card-header-space, var(--inline-space));
    background-color: var(--card-header-bg, transparent);
  }

  .card__title {
    font-size: var(--text-normal);
  }

  .card__subtitle {
    font-size: var(--text-x-small);
  }

  .card__header ~ *,
  .card__body ~ *,
  .card__footer {
    border-top: 1px solid var(--color-border);
  }

  .card__subheader {
    display: flex;
    align-items: center;
    gap: var(--inline-space);
  }


  .card__footer {
    display: flex;
  }

  .card--auction {
    .card__header-avatar {
      background-color: var(--color-brand-main);
      width: 56px;
      height: 56px;
      border-radius: var(--card-border-radius, var(--radius-md));
      overflow: hidden; /* Prevent image overflow */
      flex-shrink: 0; /* Prevent avatar from shrinking */

      img {
        width: 64px;
        height: 64px;
        transform: translate(-20%, -20%);
        object-fit: contain;
      }
    }

    .card__bid {
      padding: var(--card-padding-block) var(--card-padding-inline);
      display: grid;
      grid-template-columns: repeat(2, auto);
      font-size: var(--text-x-small);
    }

    .card__bid-section {
      display: flex;
      flex-direction: column;
      gap: var(--inline-space);
    }

    .card__bid-badge {
      --badge-inline-space: 2px;
      --badge-block-space: 4px;
      --badge-font-size: var(--text-xx-small);
      margin-left: var(--inline-space);

      &.card__bid-badge--current {
        --badge-bg: oklch(from var(--color-success) l c h / 20%);;
        --badge-color: var(--color-success);
      }

      &.card__bid-badge--winning {
        --badge-bg: var(--color-muted);
        --badge-color: var(--color-muted-ink);
      }
    }



    .card__bid-amount {
      display: flex;
      gap: 3px;
      font-weight: var(--card__bid-amount-text-w, var(--text-weight-xl));
      align-items: center;

      img {
        width: 26px;
        height: 26px;
        object-fit: contain;
        flex-shrink: 0;
        margin-top: -4px;
        margin-bottom: -4px;
        margin-left: -3px;
        margin-right: -2px;
        vertical-align: middle;
      }

      svg {
        width: 20px;
        height: 20px;
      }

      &.card__bid-amount-fiat {
        --card__bid-amount-text-w: var(--text-weight-normal);
      }
    }

    .card__bid-time {
      display: flex;
      gap: var(--inline-space);
      align-items: center;

      svg {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
      }
    }

    .car__bid-world {
      align-items: center;
      display: flex;
      gap: var(--inline-space);
      font-size: var(--text-x-small);

      p {
        margin: 0;
      }
    }

    .car__bid-world img,
    .car__bid-world svg {
      block-size: 18px;
      inline-size: 18px;
      flex-shrink: 0;
    }

    .car__bid-world .card__bid-country-flag {
      width: 16px;
      height: 10px;
    }

    .card__bid-transfer--allowed {
      color: var(--color-success);
    }

    .card__bid-transfer--forbidden {
      color: var(--color-error);
    }

    .card__body-skills-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--inline-space);

      .skill-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-muted);
        color: var(--color-ink);
        border: 1px solid var(--color-border);
        border-radius: var(--radius-sm);
        font-size: var(--text-x-small);
        padding: var(--block-space-half) var(--inline-space);
        transition: background-color var(--dialog-duration) var(--ease-out-expo);

        /* Subtle hover effect makes the UI feel alive */
        /*&:hover {
          background-color: oklch(from var(--color-muted) calc(l + 0.05) c h);
          border-color: var(--color-brand-main);
        }*/
      }

      .skill-item p {
        margin: 0;
        font-weight: var(--text-weight-md);
      }

      .skill-item div {
        display: flex;
        gap: var(--inline-space);
        align-items: center;

        img {
          width: 18px;
          height: 18px;
          opacity: 0.8;
        }
      }
    }

    .card__featured-items {
      padding: var(--block-space) var(--inline-space-double);
      border-top: 1px solid var(--color-border);
      display: flex;
      gap: var(--inline-space);
      align-items: center;
      justify-content: space-evenly;

      .featured-item {
        width: 50px;
        height: 50px;
        background-color: var(--color-muted);
        border: 1px solid var(--color-border);
        border-radius: var(--radius-md);

        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        .featured-item-img {
          object-fit: cover;
          image-rendering: pixelated;
        }

        .featured-item-img--empty {
          filter: brightness(0) opacity(0.2);
          /*filter: grayscale(100%) brightness(50%) opacity(0.3);*/
          object-fit: cover;
          image-rendering: pixelated;
        }
      }
    }

    .card__info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--inline-space);
      padding: var(--card-padding-block) var(--card-padding-inline);
    }

    .card__info .card__info-item {
      display: flex;
      gap: var(--inline-space);
      align-items: center;
      font-size: var(--text-x-small);

      img {
        width: 18px;
        height: 18px;
        object-fit: cover;
        image-rendering: pixelated;
      }
    }

    .card__footer a {
      display: block;
      width: 100%;
    }

    .card__footer .btn {
      width: 100%;
    }

    @media (max-width: 400px) {
      .card__body-skills-container  {
        grid-template-columns: 1fr;
      }
    }
  }
}