@layer components {
  .pagination {
    --pagination-padding-inline: var(--inline-space-double);
    --pagination-padding-block: var(--block-space);

    background-color: var(--pagination-bg, var(--color-surface));
    color: var(--pagination-text-ink, var(--color-surface-ink));
    border: var(--pagination-border-size, 1px) solid var(--pagination-border-color, var(--color-border));
    border-radius: var(--pagination-radius, var(--radius-md));
    overflow: hidden;
    display: flex;
    gap: var(--inline-space);
    padding: var(--pagination-padding-block) var(--pagination-padding-inline);
  }

  .pagination--auctions {
    --pagination-radius: 0px;

    justify-content: space-between;
    font-size: var(--text-normal);

    .pagination__ctrl-container {
      display: flex;
      gap: var(--inline-space);
      align-items: center;
    }

    .pagination__ctrl {
      width: 30px;
      height: 30px;
      background-color: var(--color-muted);
      border: 1px solid var(--color-border);
      border-radius: var(--radius-sm);

      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      text-decoration: none;
      color: inherit;
      cursor: pointer;

      svg {
        width: 25px;
        height: 25px;
      }
    }
  }
}